/* Mørkt tema */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin: 0;
    color: #ff5733;  /* Lys orange farve for overskriften */
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
}

.guide {
    margin-top: 30px;
    margin-left: 20px;
}

h2 {
    font-size: 2rem;
    color: #f5f5f5;
}

a {
    color: #ff5733;  /* Lys orange farve til links */
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(66, 62, 62);
}

/* Stil for den specielle Install Guide knap */
.btn {
    background-color: #ff5733;  /* Lys orange farve */
    color: #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: gray;  /* Lys gul ved hover */
    transform: scale(1.1);  /* Let forstørrelse ved hover */
}

.btn:active {
    background-color: #e64a19;  /* Mørkere orange, når knappen trykkes */
}

